body {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  color: #fefefe;
  text-shadow: 0px 1px 1px #aaa;
  background-color: #fefefe;
  width: 100%;
}

a, a:visited {
  color: #7bb;
}

a:hover {
  color: #eeaeae;
}

.warning {
  font-weight: bold;
  color: #eeaaaa;
}

#home {
  display: none;
}

#daw {
  width: 100%;
  margin: 0 auto;
}

#soundmanager {
  position: absolute;
  background-color: #fefefe;
  -webkit-border-bottom-left-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -webkit-box-shadow: 0 10px 15px #222;
  overflow: hidden;
  min-height: 50px;
  width: 100%;
  top: -45px;
  z-index: 999999;
}

#search {
  width: 20%;
  height: 40px;
  -webkit-border-radius: 10px;
  margin: 8px 25px 0 5px;
  font-size: 20px;
  outline: none;
  clear: both;
}

#sound-info {
  height: 40px;
  color: #0e0e0e;
  font-size: 20px;
  margin-left: 10px;
  width: 80%;
}

#sounds {
  margin: 8px 0px 0px 5px;
}

.sound {
  height: 100px;
  width: 100px;
  cursor: pointer;
  margin: 0px 10px 8px 0px;
  border: 1px solid #888;
  -webkit-border-radius: 15px;
  opacity: 0.65;
  -webkit-transition: opacity 0.3s ease-in-out;
  float: left;
  -webkit-user-select: none;
}

.sound.preview:hover {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
}

.sound.loaded {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
}

#sequencer {
  margin-top: 25px;
}

.track-control {
  display: block;
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  padding: 5px;
  margin-top: 5px;
  background-color: rgba(87, 87, 87, 1);
}

.track {
  height: 150px;
  background-image: -webkit-gradient(
    linear, left top, left bottom, from(rgba(50,50,50, 0.8)),
    to(rgba(80,80,80,0.2))
  );
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 15px 50px 0px #333;
}

.loading {
  opacity: 0.65;
  -webkit-transition: opacity 0.4s ease-in-out;
}

.playhead {
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0, 0);
  float: left;
  height: 100%;
  border-right: 1px solid red;
  width: 1px;
}

.track .clip {
  display: inline-block;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  float: left;
}
