body  {
  font: 12px/1.4 "Lucida Grande", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #efefef;
  color: #333;
}

#daw {
  margin: 10px;
}

#daw > header {
  display: block;
  margin-bottom: 75px;
}

#daw > header ul {
  position: absolute;
  display: block;
  top: 0;
  right: 10px;
}

.username {
  color: #4b7ed4;
}

.track {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 280px;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

.track.source.loaded {
  background: -webkit-linear-gradient(top, #777, #333);
}

.track.result {
  width: 0;
  background: -webkit-linear-gradient(top, #4b7ed4, #7eaff7);
}

.track.result.uploading {
  background: -webkit-linear-gradient(top, #777, #333);
}

.playhead {
  z-index: 2;
  position: absolute;
  height: 100%;
  background: -webkit-linear-gradient(top, #ff6600, #ff4e00);
}

.clip {
  z-index: 3;
  position: absolute;
  height: 100%;
  image-rendering: -webkit-optimize-contrast;
}
